<view:components>
  <style-js src="./components/style-js/index.html"></style-js>
</view:components>

<layout-base title="view test">
  <template slot="header">
    <div>This is header</div>
  </template>

  <template slot="main">
    <div class="view-main">This is main</div>

    <style-js></style-js>
  </template>

  <template slot="footer">
    <div>This is footer</div>
  </template>

  <script type="module" src="/example/view/index.ts"></script>
</layout-base>

<style global>
  body {
    background-color: orange;
  }
</style>

<style>
  .view-main {
    color: #000;
    font-size: 40px;
    font-weight: bold;
  }
</style>
